* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top, #22639E, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    color: #22639E;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.7;
}
h2{
    color: #22639E;
    font-weight: 400;
    opacity: 0.9;
}
  
h3{
    color: #22639E;
    font-weight: 600;
}

p{
    color: #22639E;
    font-weight: 600;
    opacity: 0.5;
}

.glass{
    background: white;
    min-height: 80vh;
    max-height: 80vh;
    width: 60%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
}

.circle1, .circle2, .circle3, .circle4{
    background: white;
    position: absolute;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3));
    border-radius: 50%;
}

.circle1{
    height: 20rem;
    width: 20rem;
    top: 5%;
    left: 10%;
}

.circle2{
    height: 10em;
    width: 10rem;
    bottom: 5%;
    left: 10%;
}

.circle3{
    height: 30rem;
    width: 30rem;
    bottom: 5%;
    right: 10%;
}

.circle4{
    height: 15rem;
    width: 15rem;
    top: 5%;
    right: 10%;
}

.dashboard{
    flex: 1;
    padding: 20px 40px;
    display: flex;
    max-width: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5));
    border-radius: 2rem;
}

.home{
    flex: 2;
    padding: 3rem;
}

.link{
    max-height: 2vh;
    display: flex;
    margin: 2rem 0rem;
    padding: 1rem 5rem;
    align-items: center;
    white-space: nowrap;
}

.ad-container{
    border-radius: 2rem;
    width: 22rem;
    background: linear-gradient(to right top, #22639E, #6cdbeb);
    padding: 45px;
    position: relative;
}

.ad-container h2{
    width: 40%;
    font-weight: 800;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.ad-container img{
    position: absolute;
    top: -27px;
    right: 10px
}

.search{
    text-align: center;
    padding-bottom: 2rem;
}

.search input{
    border: none;
    border-radius: 2rem;
    width: 20rem;
    padding: 0.5rem;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3));
}

.photo{
    border-radius: 50%;
}

.musics{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.musics img{
    border-radius: 1rem;
}

.musics h2{
    font-weight: 600;
}

.music{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 1rem;
    display: flex;
    background: white;
}

.music-name{

    align-items: center;
    padding: 1rem;
    white-space: nowrap;
}