* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top, #22639E, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    color: #22639E;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.7;
}
h2{
    color: #22639E;
    font-weight: 400;
    opacity: 0.9;
}
  
h3{
    color: #22639E;
    font-weight: 600;
}

p{
    color: #22639E;
    font-weight: 600;
    opacity: 0.5;
}

.glass{
    background: white;
    min-height: 80vh;
    max-height: 80vh;
    width: 60%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
}

.circle1, .circle2, .circle3, .circle4{
    background: white;
    position: absolute;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3));
    border-radius: 50%;
}

#circle1, #circle2, #circle3, #circle4 {animation-timing-function: ease-in;}

.circle1{
    height: 20rem;
    width: 20rem;
    top: 50%;
    left: 50%;
    animation: circle1Move 5s infinite;
}

@keyframes circle1Move{
    0% {left: 50%; top: 50%;}
    25% {left: 0%; top: 20%}
    75% {left: 10%; top: 0%}
    100% {left: 10%; top: 5%;}
}

.circle2{
    height: 10em;
    width: 10rem;
    bottom: 5%;
    left: 10%;
    animation-name: circle2Move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.circle3{
    height: 30rem;
    width: 30rem;
    bottom: 5%;
    right: 10%;
    animation-name: circle3Move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.circle4{
    height: 15rem;
    width: 15rem;
    top: 5%;
    right: 10%;
    animation-name: circle4Move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.dashboard{
    flex: 1;
    padding: 20px 40px;
    display: flex;
    max-width: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5));
    border-radius: 2rem;
}

.photo{
    border-radius: 50%;
}

.dashboard a{
    text-decoration: none;
}

.home{
    display: flex;
    flex-direction: column;
    flex: 2;
}

.link{
    max-height: 7vh;
    display: flex;
    margin: 0rem ;
    padding: 1rem 5rem;
    align-items: center;
    white-space: nowrap;
}

.link h2{
    margin: 0.7em;
}

.link:hover{
    background: rgba(108, 219, 235, 0.2);   
}

.ad-container{
    border-radius: 2rem;
    width: 22rem;
    background: linear-gradient(to right top, #22639e, #6cdbeb);
    padding: 45px;
    position: relative;
}

.ad-container h2{
    width: 40%;
    font-weight: 800;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.ad-container img{
    position: absolute;
    top: -27px;
    right: 10px
}

.search{
    text-align: center;
    margin: 1rem 0rem;
}

.search input{
    border: none;
    border-radius: 2rem;
    width: 50%;
    margin: 1rem 0rem;
    padding: 0.5rem;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3));
}

.musics{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.musics img{
    border-radius: 1rem;
}

.musics h2{
    font-weight: 600;
}

.music{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    width: 80%;
    margin: 1rem;
    border-radius: 1rem;
    display: flex;
    background: white;
}

.music:hover{
    background: #22639e;
    width: 90%;
    transition: 200ms;
}

.music:hover h2{
    color: white;
}

.music:hover p{
    color: white;
}

.music-name{
    align-items: center;
    padding: 1rem;
    white-space: nowrap;
}
